@import "fonts";


$background-color: #f0f0f0;
$font-color: #202020;
$link-color: #393939;
$link-color-pressed: #646464;

body {
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;   
    color: $font-color;
    background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: $font-color;
}

a {
  color: $link-color;
}

a:visited {
    color: $link-color-pressed;
}

ul.blog-posts li a:visited {
  color: $link-color-pressed;
}

blockquote {
    color: $font-color;
}

.backlinks {
  padding-bottom: 1rem;
  margin-bottom: 2em;   
}